<head>
 <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  {% if page.keywords %}
 <meta name="keywords" content="{{ page.keywords }}" />
  {% else %}
 <meta name="keywords" content="climat, sciences, océan, mer, planète, Terre, vulgarisation, crise, écologie, biologie, articles, écriture, romans, inspiartion, nouvelle, bleue" />
 {% endif %}
	<meta name="description" content="Partons à la découverte de notre planète. Quelle menace plane sur le climat, l'océan et les écosystèmes ? Repensons et créons le monde à venir.">
	<meta property="og:image" content="/images/header.jpg"/>
	<meta name="robots" content="index,follow"><!-- All Search Engines -->
	<meta name="googlebot" content="index,follow"><!-- Google Specific -->
	<title>nouvelle bleue</title>
	<meta name="og:title" property="og:title" content="Nouvelle Bleue ~ Observer, dire et repenser le monde">
 {% seo %}
 </head>
 
